doctype html
html(lang="en")
    head
        meta(
            charset="utf-8"
            name="viewport" 
            content=""
        )
        title Hello pug
        link(
            rel="stylesheet",
            href="https://unpkg.com/mustard-ui@latest/dist/css/mustard-ui.min.css"
        )

    body
        .container
            h1 Header 1
            div
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, voluptatum?
            hr
            ul
                li item 1
                li item 2
                li item 3

            p
                | Пример 
                b текста 
                | с тегом bold